body {
    background-color: #F5DEB3;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: maroon;
    font-size: 48px;
    text-decoration: underline;
  }
  
  p {
    color: limegreen;
  }

#fancy {
    font-family: Arial;
    color: chartreuse;
}

#ugly {
    font-family: Haettenschweiler;
    color: hotpink;
}

.purple {
    color: purple;
}